@font-face {
  font-family: 'Antenna';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/antenna-regular.eot');
  src:
    url('assets/fonts/antenna-regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/antenna-regular.woff2') format('woff2'),
    url('assets/fonts/antenna-regular.woff') format('woff'),
    url('assets/fonts/antenna-regular.ttf') format('truetype'),
    url('assets/fonts/antenna-regular.svg#Antenna-Regular') format('svg');
}

@font-face {
  font-family: 'Antenna';
  font-style: italic;
  font-weight: normal;
  src: url('assets/fonts/antenna-regularitalic.eot');
  src:
    url('assets/fonts/antenna-regularitalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/antenna-regularitalic.woff2') format('woff2'),
    url('assets/fonts/antenna-regularitalic.woff') format('woff'),
    url('assets/fonts/antenna-regularitalic.ttf') format('truetype'),
    url('assets/fonts/antenna-regularitalic.svg#Antenna-Regular') format('svg');
}

@font-face {
  font-family: 'Antenna';
  font-style: normal;
  font-weight: medium;
  src: url('assets/fonts/antenna-medium.eot');
  src:
    url('assets/fonts/antenna-medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/antenna-medium.woff2') format('woff2'),
    url('assets/fonts/antenna-medium.woff') format('woff'),
    url('assets/fonts/antenna-medium.ttf') format('truetype'),
    url('assets/fonts/antenna-medium.svg#Antenna-Regular') format('svg');
}

@font-face {
  font-family: 'Antenna';
  font-style: italic;
  font-weight: medium;
  src: url('assets/fonts/antenna-mediumitalic.eot');
  src:
    url('assets/fonts/antenna-mediumitalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/antenna-mediumitalic.woff2') format('woff2'),
    url('assets/fonts/antenna-mediumitalic.woff') format('woff'),
    url('assets/fonts/antenna-mediumitalic.ttf') format('truetype'),
    url('assets/fonts/antenna-mediumitalic.svg#Antenna-Regular') format('svg');
}
